.first {
    background-color: red;
}

.second {
    background-color: blue;
}

.third {
    background-color: green;
}

.fourth {
    background-color: white;
}

.fifth {
    background-color: yellow;
}