a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code,
datalist, dd, del, details, dfn, dl, div, dt,
em, embed,
fieldset, figcaption, figure, font, footer, form,
h1, h2, h3, h4, h5, h6, header, html,
i, iframe, img, ins,
kbd,
keygen,
label, legend, li,
meter,
nav,
object, ol, output,
p, pre, progress,
q,
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, tt,
u, ul,
var{
    background: transparent;
    font-size: 100%;
    border: 0 none;
    margin: 0;
    padding: 0;
    vertical-align: baseline; }

body {
    font-family: 'Maven Pro', sans-serif;
}

#first {
    height: 100%;
    width: 100%;
    padding-bottom: 2.8%;

}

#second {
    background-color: white;
    height: 100%;
    width: 100%;
    padding-bottom: 3%;
    display: inline-block;
    opacity: 0;
}

#second h1 {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 2em;
}

#third {
    background-color: black;
    height: 100%;
    width: 100%;
    padding-bottom: 3%;
}

#third h1 {
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 2em;
    color: white;
}

#fourth {
    height: 100%;
    width: 100%;
    background-image: url("../img/pan2.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#fourth h1 {
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 2em;
}

#fifth h1 {
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 2em;
}

.colonne_fifth {
    width: 33.3333%;
    height: 100%;
    float: left;
    text-align: center;
    padding: 1.5%;
    font-size: 1.3em;
}

.colonne_fourth {
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 1.3em;
    color: white;
    padding-bottom: 2%;
}

.colonne_fourth img {
    height: 120px;
}

#log_comp {
    float: left;
    text-align: center;
    padding-right: 1.5%;
    padding-left: 1.5%;
    margin-top: 5%;
}

#log_comp img {
    height: 100px;
}

#log_comp h3 {
    color: darkslategrey;
}

#log_comp img:hover {
    height:150px;
}

#fifth {
    height: 100%;
    width: 100%;
}

#sixth {
    width: 100%;
    height: 100%;
}

.tooltip_templates { display: none; }

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/55.gif') 50% 50% no-repeat rgb(249,249,249);
}

.progress {
    display: block;
    text-align: center;
    width: 0;
    height: 3px;
    background: red;
    transition: width .3s;
}
.progress.hide {
    opacity: 0;
    transition: opacity 1.3s;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
    margin-bottom: 3%;
}

.accueil {
    padding-top: 25%;
    padding-bottom: 25%;
}

.accueil h1{
    border-left: 1px solid white;
    padding-left: 1.5%;
    padding-bottom: 2%;
    font-size: 4em;
    text-shadow: 0 0 5px black;
}

.accueil h3 {
    border-left: 1px solid white;
    padding-left: 2%;
    font-size: 1.4em;
    text-shadow: 0 0 5px black;
}
/* the important styles */


section {
    float:left;
    width:100%;
    background:#fff;
    position:relative;
    box-shadow:0 0 5px 0px #333;
}

@-webkit-keyframes arrows {
    0% { top:0; }
    10% { top:12%; }
    20% { top:0; }
    30% { top:12%; }
    40% { top:-12%; }
    50% { top:12%; }
    60% { top:0; }
    70% { top:12%; }
    80% { top:-12%; }
    90% { top:12%; }
    100% { top:0; }
}


#second .logo img {
    height: 64px;
    display: block;
    margin: 0 auto;
}

#second .arrow img {
    height: 100px;
    width: 175px;
    position: absolute;
}

/* Portfolio */

.thumbs {
    display: block;
}

/* test nav menu */

.revelant {
    background: black;
    padding: 0 0;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

.accueil{
    color: white;
    z-index: 2;
}

/* New arrow down */



.scroll-btn {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 40px;
    background: url(../img/arrow-down.png) no-repeat center bottom;
    z-index: 2
}

/* a nav */
.nav a, .navbar-header a {
    background: transparent !important;
    color: #fff;
    text-shadow:0 0 5px black !important;
}

.nav a:hover {
    color: #f71169 !important;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}


footer {
    text-align: center;
    padding: 2%;
    font-size: 1.3em;
}

/* Test covervid */

.covervid-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/* #PAGE LOAD */

body.royal_loader {
    background: none;
    visibility: hidden;
}
#royal_preloader {
    font-family: Arial;
    font-size: 12px;
    visibility: visible;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 9999999999;
    -webkit-transition: opacity 0.2s linear 0.8s;
    -moz-transition: opacity 0.2s linear 0.8s;
    -ms-transition: opacity 0.2s linear 0.8s;
    -o-transition: opacity 0.2s linear 0.8s;
    transition: opacity 0.2s linear 0.8s;
}
#royal_preloader.complete {
    opacity: 0;
}
#royal_preloader .background {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #000000;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}
#royal_preloader.number .name {
    position: absolute;
    top: 20%;
    left: 0px;
    right: 0px;
    text-transform: uppercase;
    color: #EEEEEE;
    text-align: center;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s linear;
    -moz-transition: -moz-transform 0.3s linear;
    -ms-transition: -ms-transform 0.3s linear;
    -o-transition: -o-transform 0.3s linear;
    transition: transform 0.3s linear;
    -webkit-animation: fly 0.3s;
    -moz-animation: fly 0.3s;
    -ms-animation: fly 0.3s;
    -o-animation: fly 0.3s;
    animation: fly 0.3s;
}
#royal_preloader.number .percentage {
    color: #FFFFFF;
    font-family: Impact, Arial;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: -90px 0px 0px -90px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    padding-top: 80px;
    width: 180px;
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    -webkit-transition: all 0.3s linear 0.5s;
    -moz-transition: all 0.3s linear 0.5s;
    -ms-transition: all 0.3s linear 0.5s;
    -o-transition: all 0.3s linear 0.5s;
    transition: all 0.3s linear 0.5s;
}
#royal_preloader.text .loader {
    position: absolute;
    font-family: 'Sifonn-Basic';
    text-shadow: 0 0 15px rgba(0,0,0,0.3);
    text-transform:uppercase;
    top: 50%;
    left: 50%;
    height: 40px;
    line-height: 40px;
    margin-top: -20px;
    letter-spacing: 3px;
    font-size: 36px;
    white-space: nowrap;
}
#royal_preloader.text .loader div {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0%;
    background-color: #000000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -webkit-transition: left 0.3s linear;
    -moz-transition: left 0.3s linear;
    -ms-transition: left 0.3s linear;
    -o-transition: left 0.3s linear;
    transition: left 0.3s linear;
}
#royal_preloader.logo .loader {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -40px 0px 0px -40px;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}
#royal_preloader.logo .loader div {
    position: absolute;
    bottom: 0%;
    left: 0px;
    right: 0px;
    height: 100%;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -webkit-transition: bottom 0.3s linear;
    -moz-transition: bottom 0.3s linear;
    -ms-transition: bottom 0.3s linear;
    -o-transition: bottom 0.3s linear;
    transition: bottom 0.3s linear;
}
#royal_preloader.logo .percentage {
    position: absolute;
    width: 80px;
    height: 40px;
    line-height: 40px;
    top: 50%;
    left: 50%;
    margin: 40px 0px 0px -40px;
    color: #072E77;
    text-align: center;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}

@-webkit-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@-moz-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@-ms-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@-o-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}

/* test timeline */

#sixth label {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e74c3c;
    cursor: pointer;
    position: absolute;
    top: 18%;
    left: 12%;
    transition: all .3s ease;
}
#sixth input:checked + label {
    left: 55%;
    background-color: #7b3;
}
div#timeline {
    background-color: #2980b9;
    margin-top: 150px;
    height: 5px;
    width: 100%;
    position: relative;
    box-shadow: 0 0 5px rgba(0,0,0,0.2) inset;
    margin-bottom: 5%;
}
#sixth .inside {
    position: absolute;
    height: 4px;
    background-color: #fff;
    width: 0%;
    top: 3px;
    left: 0;
}
#sixth .dot {
/ /box-shadow: 0 0 5 px rgba(0, 0, 0, 0.2) inset;z-index: 99;transition: 0.3s ease-in-out;width: 30px;height: 30px;border-radius: 50%;position: absolute;top: -12px;text-align: center;cursor: pointer;}
#sixth .dot:nth-child(1){
    left: 25%;
    background-color: #2c3e50;
}
#sixth .dot:nth-child(2){
    left: 48%;
    background-color: #e74c3c;
}
#sixth .dot:nth-child(3){
    right: 25%;
    background-color: #7b3;
}
#sixth .dot:hover {
    transform: scale(1.2);
}
#sixth span {
    display: inline-block;
    margin-top: 5px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

#sixth article {
    display: none;
    position: relative;
    top: 30px;
    max-width: 960px;
    background-color: #fff;
    padding: 20px;
    margin: auto;
}
#sixth p {
    line-height: 130%;
}

div.mask {
    display: none;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 99999;
}
#sixth article {
    position: relative;
    top: -100%;
    margin-top: 50px;
    max-width: 960px;
    background-color: #fff;
    padding: 20px;
    margin: auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}
#sixth h2 {
    font-family: merriweather, sans-serif;
    font-size: 2.5em;
    padding: 10px 0;
    text-align: center;
}
#sixth p {
    line-height: 130%;
}

#sixth .modal  {
    border-radius: 15px;
}

#sixth a {
    float: right;
    padding-right: 1.5%;
    text-decoration: none;
    cursor: pointer;
    color: #8f959e;
}

#sixth h3 {
    font-family: roboto;
    font-size: 1.1rem;
    display: block;
    position: relative;
    top: -60px;
    text-align: center;
}
.targetDiv {
    display: none;
}

.targetDiv h2 {
    border-bottom: 2px solid black;
}