a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code,
datalist, dd, del, details, dfn, dl, div, dt,
em, embed,
fieldset, figcaption, figure, font, footer, form,
h1, h2, h3, h4, h5, h6, header, html,
i, iframe, img, ins,
kbd,
keygen,
label, legend, li,
meter,
nav,
object, ol, output,
p, pre, progress,
q,
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, tt,
u, ul,
var{
    background: transparent;
    font-size: 100%;
    border: 0 none;
    margin: 0;
    padding: 0;
    vertical-align: baseline; }

body {
    font-family: 'Maven Pro', sans-serif;
}

#first {
    height: 100%;
    width: 100%;
}

#second {
    background-color: white;
    height: 100%;
    width: 100%;
    padding-bottom: 3%;
}

#second h1 {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 2em;
}

#third {
    background-color: darkgray;
    height: 100%;
    width: 100%;
    padding-bottom: 3%;
}

#third h1 {
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 2em;
}

#fourth {
    height: 400px;
    width: 100%;
    background-image: url("../img/pan.jpg");
    background-size: cover;
}

#log_comp {
    float: left;
    text-align: center;
    padding-right: 1.5%;
    padding-left: 1.5%;
    margin-top: 5%;
}

#log_comp img {
    height: 100px;
}

#log_comp h3 {
    color: darkslategrey;
}

#log_comp img:hover {
    height:150px;
}

#fifth {
    background-color: blanchedalmond;
    height: 100%;
    width: 100%;
    padding-bottom: 4%;
}

.tooltip_templates { display: none; }

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/55.gif') 50% 50% no-repeat rgb(249,249,249);
}

.progress {
    display: block;
    text-align: center;
    width: 0;
    height: 3px;
    background: red;
    transition: width .3s;
}
.progress.hide {
    opacity: 0;
    transition: opacity 1.3s;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
    margin-bottom: 3%;
}

.accueil {
    padding-top: 23%;
    padding-bottom: 23%;
}



/* ARROW DOWN */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* the important styles */


section {
    float:left;
    width:100%;
    background:#fff;
    position:relative;
    box-shadow:0 0 5px 0px #333;
}


.arrow-wrap {
    position:absolute;
    z-index:1;
    left:50%;
    top:-5em;
    margin-left:-5em;
    background:#111;
    width:10em;
    height:10em;
    padding:4em 2em;
    border-radius:50%;
    font-size:0.5em;
    display:block;
    box-shadow:0px 0px 5px 0px #333;
}

.arrow {
    float:left;
    position:relative;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: #ffffff transparent transparent transparent;
    -webkit-transform:rotate(360deg)
}

.arrow:after {
    content:'';
    position:absolute;
    top:-3.2em;
    left:-3em;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: #111 transparent transparent transparent;
    -webkit-transform:rotate(360deg)
}

.arrow-wrap:hover .hint {
    opacity:1;
}


@-webkit-keyframes arrows {
    0% { top:0; }
    10% { top:12%; }
    20% { top:0; }
    30% { top:12%; }
    40% { top:-12%; }
    50% { top:12%; }
    60% { top:0; }
    70% { top:12%; }
    80% { top:-12%; }
    90% { top:12%; }
    100% { top:0; }
}

.arrow-wrap .arrow {
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: 3s;
}


#second .logo img {
    height: 64px;
    display: block;
    margin: 0 auto;
}

#second .arrow img {
    height: 100px;
    width: 175px;
    position: absolute;
}

/* video */

#video_background {
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
    background-size: cover;
}

/* Portfolio */

.thumbs {
    display: block;
}